.navbar-dark .navbar-brand {
    color: #990000;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #FFC72C;
}
.jumbotron img {
  height: 300px;
}

.jumbotron {
  background-image: url(coliseum.jpeg);
  background-size: cover;
}

.jumbotron h1 {
  color: #990000;
}

td {
  width: 250px;
}
